@media (max-width: 1024px)
{
    /* about section */
}

@media (max-width: 991px)
{
    /* custom classes */

    .text-content
    {
        width: 100%;
    }

    /* navbar brand */

    /* .navigation-wrap .navbar-brand img
    {
         height: 5.5125rem;
    } */

    .navigation-wrap
    {
        text-align: center;
        background-color: var(--white-color);
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        box-shadow: 0/*Top or Bottom*/ -5px /*right or left*/ 25px /* الأنتشار الظل */ rgba(1 1 1 / 30%);
    }

    .navigation-wrap .nav-link
    {
        line-height: 1.875rem;
    }

    /* Banner Design */

    .top-banner
    {
        padding: 9.375 0 9.375rem;
    }
    /* carousel design */
    .reviews-section .carousel-item .carousel-caption p
    {
        padding: 0;
    }
}

@media (max-width: 767px)
{

    /* custom css */

    h1
    {
        font-size: 2.8rem;
    }
    h2
    {
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    /* top banner */

    .top-banner
    {
        padding: 10.875rem 0 9.375rem;
    }

    .about-section h2
    {
        line-height: 3rem;
        font-size: 1.3rem;
    }

    /* story section */

    .story-section
    {
        height: auto;
        padding: 3rem 0;
    }

    .story-section h2
    {
        line-height: 3rem;
        font-size: 1.3rem;
    }
    /* carousel design */
    .reviews-section .carousel-item 
    {
        padding: 15rem 3.125rem;
    }

    .book-food-text h2
    {
        line-height: 45px;
        font-size: 1.3rem;
    }
    /* newsletter */

    .newletter
    {
        width: 75%;
    }
    .newletter .text-content h2
    {
        line-height: 45px;
        font-size: 1.3rem;
    }
    .newletter .main-btn
    {
        width: 100%;
        margin-top: 1rem;
    }
    /* footer link */

    .footer .footer-link,
    .footer a i
    {
        padding: 0 0.3rem;
    }
}

@media (max-width: 330px)
{
    /* carousel design */
    .reviews-section .carousel-item
    {
        padding: 18rem 3.125rem;
    }
}